<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style type="text/css">

@media (min-width: 768px) {
header .intro-text .intro-heading {
    font-size: 60px;
}
.timeline>li .timeline-image2 {
    left: 50%;
    margin-left: -30px;
}
.only-mobile {
    display: none;
}

.section-subheading {
    line-height:1;
    font-size:18px;
}

.btn-xl {
    padding: 15px 40px;
    font-size: 16px;
}
}


@media (max-width: 767px) {
.timeline>li .timeline-image2 {
    width: 30px;
    height: 30px;
    left: 0;
    margin-left: 10px; 
}

.only-pc {
    display:none;
}

.btn-xl {
    padding: 10px 40px;
}

}

.timeline>li .timeline-image2 {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 100;
    background-color: #7cc576;
    color: #fff;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center;
}

.section-heading{
    font-weight:100;
    color:#666666;
}

.btn-xl {
    color: #ffffff;
    background-color: transparent;
    border-color:#7cc576;
    font-weight: 100;
    border-radius: 30px;
    font-size: 18px;
}

.service-heading, h4 {
    color: #555555;
    
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin-bottom: 5px;
}

.navbar-default .navbar-toggle {
    background-color: transparent;
    border-color:transparent;
}
</style>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Ewha.likelion</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">2015</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">2016</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Staff</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container" style="height:100%; padding:0">
            <div class="intro-text">
                    <p class="section-subheading text-muted" style="color:#aeaeae;">
                        비전공자를 위한 프로그래밍 교육 <span class="likelion">멋쟁이사자처럼</span>
                    </p>
                    <div class="intro-heading">이화여대 X 멋<span class="only-pc">쟁이</span>사<span class="only-pc">자처럼</span></div>
                    <p class="section-subheading text-muted" id="ewha_likelion" style="color:#ffffff;">
                        <span class="ewha_likelion">"이화여대 멋쟁이사자처럼"</span>은<br>멋사의 커리큘럼과 비전을 공유하는<span class="only-mobile"><br></span> 교내 코딩 동아리입니다.
                    </p>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ABOUT</h2>
                    <hr>
                    <p class="text-muted">멋쟁이사자처럼은 어떻게 진행될까요?</p>
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 col-sm-4">
                    <img src="img/about/ruby.png">
                    <h4 class="service-heading">온라인 강의로 배우는 루비</h4>
                    <p class="text-muted">프로그래밍 언어 루비와<br>프레임워크 루비온레일즈를 배웁니다.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="img/about/study.png">
                    <h4 class="service-heading">오프라인 스터디</h4>
                    <p class="text-muted">처음이라 어려운 코딩,<br>팀원들과 운영진이 도와줍니다.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="img/about/col.png">
                    <h4 class="service-heading">프로젝트</h4>
                    <p class="text-muted">배워서 써먹자!<br>두 달 동안 서비스를 개발합니다.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">2015</h2>
                    <hr>
                    <p class="text-muted">2015년 이화여대 멋쟁이사자처럼 1기<br>
                    15명 중 13명이 비전공자였습니다.</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 portfolio-item">
                        <img src="img/portfolio/ot.jpg" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>멋쟁이사자처럼 OT</h4>
                        <p class="text-muted">15. 06. 20.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 portfolio-item">
                        <img src="img/portfolio/study.jpg" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>팀별 스터디</h4>
                        <p class="text-muted">15. 07. 01. - 08. 31.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 portfolio-item">
                        <img src="img/portfolio/hack.jpg" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>해커톤</h4>
                        <p class="text-muted">15. 09. 19. - 09. 20.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">2016 일정</h2>
                    <hr>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/lion.png" style="height:100%" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="time" style="color: #7cc576;">03. 01 - 03. 31.</h4>
                                    <h4 class="subheading">2016 멋쟁이사자처럼 선발</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image2">
                                <!--<img class="img-circle img-responsive" src="img/about/coding.png" style="height:100%" alt="">-->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="time" style="color: #7cc576;">04. 01. - 06. 30.</h4>
                                    <h4 class="subheading">온라인 수업 & 스터디</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        - 주 2회 모임(팀별 모임 1회, 전체 모임 1회)<br>
                                        - 6월부터 프로젝트 예비작업<br>
                                        &nbsp&nbsp(아이디어 회의, 팀빌딩 등)
                                        </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image2">
                                <!--<img class="img-circle img-responsive" src="img/about/project.png" style="height:100%" alt="">-->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="time" style="color: #7cc576;">07. 01. - 08. 31.</h4>
                                    <h4 class="subheading">서비스 제작</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">본격적인 프로젝트 시작!</p>
                                </div>
                            </div>
                        </li>
                        <!--
                        <li class="timeline-inverted">
                            <div class="timeline-image2">
                                <img class="img-circle img-responsive" src="img/about/exit.png" style="height:100%" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>활동 종료</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">STAFF</h2>
                    <hr>
                    <p class="text-muted">아기사자가 어른사자 될 때까지 -<span class="only-mobile"><br></span> 여러분과 함께 할 운영진입니다.</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/yj.jpg" class="img-responsive img-circle" alt="">
                        <h4>이연정</h4>
                        <p class="text-muted">컴퓨터공학과 15</p>
                        <ul class="list-inline social-buttons">
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/di.jpg" class="img-responsive img-circle" alt="">
                        <h4>류다인</h4>
                        <p class="text-muted">정치외교학과 11</p>
                        <ul class="list-inline social-buttons">
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/ym.jpg" class="img-responsive img-circle" alt="">
                        <h4>이유민</h4>
                        <p class="text-muted">사회복지학과 14</p>
                        <ul class="list-inline social-buttons">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
     <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                   <!-- <span class="copyright">Copyright &copy; 2016 멋쟁이사자처럼</span>-->
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>

</html>
